# Create this user service: nano ~/.config/systemd/user/pi-radio-server.service
# Reload the daemon: systemctl --user daemon-reload
# Enable it: systemctl --user enable pi-radio-server.service
# Start it: systemctl --user start pi-radio-server.service

[Unit]
Description=Pi Music Radio Web Server
After=network-online.target bluetooth.service pulseaudio.service
PartOf=pulseaudio.service # If pulseaudio dies, this service stops

[Service]
Type=simple
WorkingDirectory=/home/thatgurjot/radio-server

ExecStart=/home/thatgurjot/radio-server/start-server.sh

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target